@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
	background-color: transparent;
	border: none;
	padding: 8px 14px;
	border-radius: 6px;
	cursor: pointer;
}

.btn_group {
	display: flex;
	flex-direction: row;
	background-color: #F0F1F3;
	border-radius: 32px;
	padding: 1px;
}

.btn_group_item {
	width: 50%;
	height: 36px;
	border: none;
	border-radius: 24px;
	padding: 6px 16px;
}

.btn_oulined,
.btn_group_item--active {
	border: 1px solid #E5E6EB;
	background-color: white;
}

.btn_primary {
	border: 1px solid #E5E6EB;
	color: white;
	background-color: black;
}

.btn_primary, .btn_oulined{
	font-size: 16px;
	padding: 10px 24px;
	font-weight: 500;
}

table thead th {
	font-weight: 500!important;
	color: #898E98;
	width: 32px;
	height: 20px;
	font-size: 12px;
	border-bottom: 1px solid #E5E6EB;
}

tbody:before {
	content:"@";
	display:block;
	line-height:10px;
	text-indent:-99999px;
}

.calendar_day_item {
	width: 32px;
	height: 32px;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4px;
}

.calendar_day_item--today {
	font-weight: 600;
}

.calendar_day_item--selected {
	color: white;
	background-color: #007AFF;
	border-radius: 50%;
}

.calendar_day_item--disabled {
	cursor: not-allowed;
	color: #898E98;
}

.time_slot {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid #E5E6EB;
	border-radius: 24px;
	gap: 15px;
	padding: 12px 16px;
	cursor: pointer;
}

.time_slot--active {
	background-color: #007bff11;
}

.checkout_link {
	position: sticky;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	padding: 12px 16px;
	border-top: 1px solid #E5E6EB;
	background-color: white;
}



@media (max-width: 425px) { 
	.chat_wrapper {
		position: static;
		max-width: 100vw;
		padding-bottom: 120px;

		padding: 0px;
		border: none;
	}

	.chat_header {
		padding: 50px 16px 12px 16px;
	}

	.checkout_link {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
	}
}

@media (max-width: 375px) { 
	.calendar_day_item {
		margin: 2px;
	}
}

@media (max-width: 320px) { 
	.calendar_day_item {
		margin: 0px;
	}
}
